body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    margin: 0;
}
nav{
    position: absolute;
    width: 100%;
    background-color: rgb(165, 213, 255);
    display: flex;
    p{
        font-size: 25px;
    }
    img{
        align-self: center;
        margin-left: 2%;
        width: 10%;
        height: 10%;
    }
}
.wraper{
    position: relative;
    padding-top: 15%;
    max-width: 50%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#taskTable{
    border-collapse: collapse;
    font-size: 20px;
}
#titleRow{
    font-size: smaller;
    th{
        border-bottom: 1px solid black;
    }
    .col4, .col5{
        padding-bottom: 8px;
    }
}
.itemRow{
    height: 50px;
    text-align: center;
    font-weight: 250;
    td{
        border-bottom: 1px solid lightgrey;
    }
}
.col1{
    width: 5%;
    padding-bottom: 10px;
    user-select: none;
}
.col2{
    width: 40%;
    padding-bottom: 8px;
    user-select: none;
}
.col3{
    width: 15%;
    padding-bottom: 8px;
}
.col4{
    width: 7%;
    padding-bottom: 5px;
}
.col5{
    width: 7%;
    padding-bottom: 5px;
}
select{
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: aliceblue;
    width: 90px;
    height: 30px;
    outline: none;
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
}
.taskBtn{
    font-size: 10px;
    max-width: 35px;
    max-height: 35px;
    height: 35px;
    width: 35px;
    background-color: aliceblue;
    border-radius: 5%;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
.editBtn{
    border: 1px solid #1bf759;
}
.delBtn{
    border: 1px solid #FD1C1C;
}
.add{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 15px;
}
#addTask{
    width: fit-content;
    padding: 7px 12px;
    background-color: aliceblue;
    border: 2px solid #49bcff;
    border-radius: 5%;
    color: #49bcff;
    font-size: 15px;
    font-weight: 500;
}
.taskBtn:hover, #addTask:hover, select:hover{
    background-color: rgb(216, 223, 230);
}
.taskBtn:active, #addTask:active, select:active{
    background-color: rgb(193, 204, 214);
}
#popupWraper{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
#popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2.5%;
    border-radius: 2%;
    box-shadow: 0 0 10px black;
    text-align: center;
}
#closePopup{
    position: absolute;
    top: 6px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
    color: grey;
}
#textInput{
    width: 80%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-bottom: 5%;
    border: 1px solid #dddddd;
    border-radius: 1%;
}
#submitBtn{
    background-color: green;
    color: white;
    padding: 2.5% 5%;
    border: none;
    border-radius: 3%;
    cursor: pointer;
    font-size: 16px;
}